<html>
    <head>
	   <title>Informations</title>
	   <link href='/index.css' rel='stylesheet' type='text/css' >
	   <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    </head>
    <body>
    <div id="box">
	   <div id="header">
		  <h1>
			 <a href="/" id="title-heading">
				<div id="white-heading">NORTHERN</div>
				<div id="green-heading">LIGHTS</div>
			 </a>
		  </h1>
	   </div>
	   <div id="container">
		  This project is a simple visualization of the aurora power.</br>
		  The raw data plotted on the main page can be found 
		  <a href="https://services.swpc.noaa.gov/text/aurora-nowcast-map.txt">here</a>

	   </div>
    </div>
    </body>
</html>
